@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    height: auto;
    background-color: #fafafa;
    align-items: center;
}

/*---------------BANNER---------------*/

.banner {
    width: 100%;
}

.banner a {
    text-decoration: none;
}

.banner-img {
    width: 100%;
    height: 600px;
    background-image: url(imgs/lula\ avião.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media (max-width: 700px) {
    .banner-img {
        height: 400px;
    }
}

.banner-text {
    text-align: center;
    padding-top: 110px;
}

.banner-text p {
    font-size: 22px;
    font-family: "Oxanium";
    color: #c91161;
    font-weight: 700;
    text-shadow:black 0px 0px 10px;
}

.banner-text h1 {
    padding-top:10px;
    font-size: 46px;
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: 800;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow:rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

@media (max-width: 950px) {
    .banner-text h1 {
        font-size: 36px;
    }
}

@media (max-width: 700px) {
    .banner-text h1 {
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .banner-text h1 {
        font-size: 24px;
    }
}

/*---------------CATEGORIAS---------------*/

.categorias {
    width: 100%;
    padding-top: 100px;
}

@media (max-width: 630px) {
    .categorias {
        padding-top: 50px;
    }
}

.categ-centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categ-list li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}

.categ-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px 16px 16px;
    text-decoration: none;
    background-color: #c91161;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat";
    transition: 0.4s;
    text-shadow:rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.categ-list li a:hover {
    background-color: #86053d;
    transform: translateY(-6px);
}

@media (max-width: 700px) {
    .categ-list li a {
        font-size: 14px;
    }
}

@media (max-width: 630px) {
    .categ-list li a {
        font-size: 12px;
        padding: 10px 10px 12px 12px;
    }
}

@media (max-width: 560px) {
    .categ-list li  {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 465px) {
    .categ-list li a {
        padding: 5px 5px 7px 7px;
    }
}

@media (max-width: 415px) {
    .categ-list li a {
        padding: 3px 3px 5px 5px;
    }
}

@media (max-width: 415px) {
    .categ-list li {
        padding-left: 3px;
        padding-right: 3px;
    }
}

/*---------------POSTAGENS-RECENTES---------------*/

.postrecentes {
    width: 80vw;
    margin: auto;
    padding-bottom: 100px;
}

.postrecentes > h1 {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 48px;
    color: black;
    font-family: "Montserrat";
    font-weight: 400;
    text-shadow:rgba(0, 0, 0, 0.3) 0px 0px 20px;
    cursor: context-menu;
}

@media (max-width: 700px) {
    .postrecentes > h1 {
        font-size: 36px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 460px) {
    .postrecentes > h1 {
        font-size: 25px;
    }
}

.postbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postbox-sep {
    display: flex;
}

@media (max-width: 700px) {
    .postbox {
        display: block;
    }
}

.postbox-not {
    width: 300px;
    height: 350px;
    margin: 10px;
}

@media (max-width: 700px) {
    .postbox-not {
        
        width: 100%;
        height: auto;
        margin: 0px;
    }
}

.postbox-not img {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 700px) {
    .postbox-not img{
        width: 100%;
        height: auto;
    }
}

.postbox-not a img {
    transition: 0.3s;
}

.postbox-not a img:hover {
    transform: translateY(-6px);
}

.postbox-not h1 {
    width: 300px;
    font-size: 16px;
    font-family: "Oxanium";
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
}

@media (max-width: 700px) {
    .postbox-not h1{
        width: 100%;
        font-size: 18px;
        font-weight: 800;
    }
}

.postbox-not p {
    width: 300px;
    font-size: 13px;
    font-family: "Montserrat";
    padding: 5px;
    font-weight: 600;
}

@media (max-width: 700px) {
    .postbox-not p{
        width: 100%;
        font-size: 16px;
    }
}

.postbox-not-click a {
    color: #c91161;
    font-size: 14px;
    font-weight: 700;
    font-family: "Oxanium";
    padding: 5px;
    border-radius: 2px;
    transition: 0.3s;
}

.postbox-not-click a:hover {
    background-color: #86053d62;
    color: #66052f;
}

@media (max-width: 1300px) {
    .postbox-sep {
        display: block;
    }
}

/*---------------POSTAGEM-ANTIGA---------------*/

.postantigos {
    width: 80vw;
    margin: auto;
}

.postantigos > h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 48px;
    color: black;
    font-family: "Montserrat";
    font-weight: 400;
    text-shadow:rgba(0, 0, 0, 0.3) 0px 0px 20px;
    cursor: context-menu;
}

@media (max-width: 700px) {
    .postantigos > h1 {
        font-size: 36px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 460px) {
    .postantigos > h1 {
        font-size: 25px;
    }
}

.postantigobox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postantigobox-sep {
    display: flex;
}

@media (max-width: 700px) {
    .postantigobox-sep {
        display: block;
    }
}

.postantigobox-not {
    width: 200px;
    height: 300px;
    margin: 10px;
}

@media (max-width: 1350px) {
    .postantigobox-not {
        width: 150px;
        height: auto;
        margin: 10px;
    }
}

@media (max-width: 1050px) {
    .postantigobox-not {
        width: 125px;
        height: auto;
        margin: 5px;
    }
}

@media (max-width: 850px) {
    .postantigobox-not {
        width: 100px;
        height: auto;
        margin: 3px;
    }
}

@media (max-width: 700px) {
    .postantigobox-not {
        width: 200px;
        height: auto;
        margin: 3px;
    }
}

@media (max-width: 415px) {
    .postantigobox-not {
        width: 150px;
        height: auto;
        margin: 2px;
    }
}

.postantigobox-not img {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 1350px) {
    .postantigobox-not img{
        width: 150px;
        height: 100px;
    }
}

@media (max-width: 1050px) {
    .postantigobox-not img{
        width: 125px;
        height: 75px;
    }
}

@media (max-width: 850px) {
    .postantigobox-not img{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 700px) {
    .postantigobox-not img{
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 415px) {
    .postantigobox-not img{
        width: 150px;
        height: 100px;
    }
}

.postantigobox-not a img {
    transition: 0.3s;
}

.postantigobox-not a img:hover {
    transform: translateY(-6px);
}

.postantigobox-not h1 {
    width: 200px;
    font-size: 16px;
    font-family: "Oxanium";
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
}

@media (max-width: 1350px) {
    .postantigobox-not h1{
        width: 150px;
        font-size:14px;
        font-weight: 800;
    }
}

@media (max-width: 1050px) {
    .postantigobox-not h1{
        width: 125px;
        font-size:12px;
        font-weight: 800;
    }
}

@media (max-width: 850px) {
    .postantigobox-not h1{
        width: 100px;
        font-size:10px;
        font-weight: 800;
    }
}

@media (max-width: 700px) {
    .postantigobox-not h1{
        width: 200px;
        font-size: 12px;
        font-weight: 800;
    }
}

@media (max-width: 415px) {
    .postantigobox-not h1{
        width: 150px;
        font-size: 12px;
        font-weight: 800;
    }
}

.postantigobox-not-click a {
    color: #c91161;
    font-size: 14px;
    font-weight: 700;
    font-family: "Oxanium";
    padding: 5px;
    border-radius: 2px;
    transition: 0.3s;
}

.postantigobox-not-click a:hover {
    background-color: #86053d62;
    color: #66052f;
}

/*---------------INFORMAÇÕES-INPORTANTES---------------*/

.infoimportante {
    width: 500px;
    height: 340px;
    background-color: #1b1a1a;
    margin: auto;
    border-radius: 7px;
}

@media (max-width: 550px) {
    .infoimportante {
        width: 100vw;
        border-radius: 0px;
    }
}

@media (max-width: 440px) {
    .infoimportante {
        height: 280px;
    }
}

.infoimportante h1 {
    background-color: #66052f;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: "Montserrat";
    padding: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px;
}

@media (max-width: 550px) {
    .infoimportante h1 {
        border-radius: 0px;
    }
}

@media (max-width: 440px) {
    .infoimportante h1 {
        font-size: 20px;
    }
}

.linha-dolar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.linha-dolar ul li {
    list-style-type: none;
}

.linha-dolar p {
    color: white;
    font-size: 26px;
    font-family: "Poppins";
    font-weight: 700;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

.linha-euro ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.linha-euro ul li {
    list-style-type: none;
}

.linha-euro p {
    color: white;
    font-size: 26px;
    font-family: "Poppins";
    font-weight: 700;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

.linha-selic ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.linha-selic ul li {
    list-style-type: none;
}

.linha-selic p {
    color: white;
    font-size: 26px;
    font-family: "Poppins";
    font-weight: 700;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

@media (max-width: 550px) {
    .linha-dolar p,.linha-euro p,.linha-selic p {
        padding-left: 60px;
    }
}

@media (max-width: 480px) {
    .linha-dolar p,.linha-euro p,.linha-selic p {
        padding-left: 40px;
    }
}

@media (max-width: 440px) {
    .linha-dolar p,.linha-euro p,.linha-selic p {
        padding-left: 50px;
        font-size: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 400px) {
    .linha-dolar p,.linha-euro p,.linha-selic p {
        padding-left: 30px;
        font-size: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 350px) {
    .linha-dolar p,.linha-euro p,.linha-selic p {
        padding-left: 20px;
        font-size: 20px;
        padding-top: 10px;
    }
}

/*---------------DOLAR---------------*/

.cotdolar {
    font-size: 26px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
    padding-top: 20px;
    padding-left: 190px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

@media (max-width: 440px) {
    .cotdolar {
        padding-left: 160px;
        font-size: 20px;
        padding-top: 10px;
    }
}

/*---------------EURO---------------*/

.coteuro {
    font-size: 26px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
    padding-top: 20px;
    padding-left: 209px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

@media (max-width: 440px) {
    .coteuro {
        padding-left: 179px;
        font-size: 20px;
        padding-top: 10px;
    }
}

/*---------------INFLAÇÃO---------------*/

.taxaselic {
    font-size: 26px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
    padding-top: 20px;
    padding-left: 130px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

@media (max-width: 440px) {
    .taxaselic {
        padding-left: 100px;
        font-size: 20px;
        padding-top: 10px;
    }
}

.temporeal {
    text-align: center;
    color: #c91161;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    text-shadow: rgba(201, 17, 97, 0.3) 0px 0px 10px;
}

@media (max-width: 440px) {
    .temporeal {
        font-size: 12px;
    }
}

/*----------botão-top----------*/

#btnTop{
    background-color: #ad074f;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    cursor: pointer;
    transition: 0.4s;
}

#btnTop:hover {
    background-color: #700433;
}

#btnTop img {
    width: 30px;
    padding: 10px;
}

/*---------------FOOTER---------------*/

footer {
    background-color: #1b1b1b;
    color: white;
    margin-top: 40px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    font-family: "Montserrat";
}

footer ul {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    transition: 0.3s;
}

footer a:hover {
    color: #c7c7c7;
}


#instagram-f img {
    width: 30px;
    margin: 5px;
    transition: 0.3s;
}

#instagram-f img:hover {
    transform: translateY(-3px);
}

#twitter-f img {
    width: 30px;
    margin: 5px;
    transition: 0.3s;
}

#twitter-f img:hover {
    transform: translateY(-3px);
}
